:root {
  --slate: #434455;
  --white: #ffffff;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --dairy: #fcfcfc;
}
*{
  margin:0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}
.web-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.link {
  text-decoration: none;
}

.studio-logo {
  color: var(--navy-blue);
}

.web {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-decoration: none;
}
.web:hover,
.web:focus {
  color: var(--ocean);
}

.add {
  font-style: normal;
}

.list {
  list-style: none;
}

.address {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.address:hover,
.address:focus {
  color: var(--ocean);
}

.first {
  background-color: var(--navy-blue);
}
.sec-one {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}

.button-one {
  background-color: var(--iris);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
}

.button-one:hover,
.button-one:focus {
  background-color: var(--ocean);
  cursor: pointer;
}

.title-description {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.sec-three {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.fourth {
  background-color: var(--cloud);
}

.sec-four {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.name-list {
  background-color: var(--white);
}

.last-part {
  background-color: var(--navy-blue);
}

.logo-footer {
  color: var(--cloud);
}

.footer-des {
  line-height: 1.5;
  color: var(--cloud);
  letter-spacing: 0.02em;
}

.port-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  cursor: pointer;
}

.port-button:hover,
.port-button:focus {
  color: var(--white);
  background-color: var(--ocean);
}

.port-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.port-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* Header of Main and Portfolio*/
.main-portfolio-header {
  border-bottom: 1px solid var(--cornflower);
  justify-content: space-between;
}
.main-portfolio-div {
  display: flex;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.logo {
  display: flex;
  align-items: center;
}
.web-logo {
  margin-right: 76px;
}
.web-list {
  display: flex;
  gap: 40px;
}
.web {
  padding: 24px 0;
}
.add-list {
  display: flex;
}
.add-list-header {
  gap: 40px;
}

/* First Section */
.first {
  padding: 188px 0;
}
.sec-one {
  max-width: 496px;
  margin: auto;
  margin-bottom: 48px;
}
.button-one {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--iris);
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
}

/* Second Section */
.second {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline: 0;
  outline-offset: 0;
}
.add-list {
  display: flex;
}
.add-list-second {
  gap: 24px;
}
.second-section-list {
  flex-basis: calc((100% - 72px) / 4);
}
.title-description{
  margin-bottom: 8px;
}

/* Third Section */
.third{
  padding-bottom: 120px;
}
.sec-three{
  margin-bottom: 72px;
}
.add-list{
  display: flex;
}
.add-list-third{
  gap: 24px;
}
.third-section-list{
  flex-basis: calc((100% - 3 * 16px) / 3);
}

/* Fourth Section */
.fourth{
  padding: 120px 0;
}
.sec-four{
  margin-bottom: 72px;
}
.add-list{
  display: flex;
}
.add-list-fourth{
  gap: 24px;
}
.name-list{
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.fourth-section-div{
  padding: 32px 0;
}
.title-description{
  text-align: center;
  margin-bottom: 8px;
}
.description{
  text-align: center;
}

/* Footer */
.last-part{
  padding: 100px 0;
}
.web-logo{
  display: inline-block;
}
.web-footer{
  margin-bottom: 16px;
}
.footer-des{
  max-width: 264px;
}

/* Portfolio Main */
.portfolio-main{
  padding-top: 96px;
  padding-bottom: 120px;
}
.port-list{
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.port-button{
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
}
.port-button:hover, .port-button:focus{
  border: 1px solid transparent;
}
.port-img{
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.port-img-list{
  width: calc((100% - 48px) / 3);
}
.port-img-div{
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}
.port-header{
  margin-bottom: 8px;
}