:root {
  --font-color: #434455;
  --bg-color: #ffffff;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.web-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.link {
  text-decoration: none;
}

.studio-logo {
  color: #2e2f42;
}

.web {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
.web:hover,
.web:focus {
  color: #404bbf;
}

 {
  color: #404bbf;
}

.add {
  font-style: normal;
}

.list {
  list-style: none;
}

.address {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--font-color);
}

.address:hover,
.address:focus {
  color: #404bbf;
}

.first {
  background-color: #2e2f42;
  padding: 188px 0;
}
.sec-one {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--bg-color);
  max-width: 496px;
  margin: 0 auto;
}

.button-one {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--bg-color);
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border: none;
}

.button-one:hover,
.button-one:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.title-description {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.sec-three {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.fourth {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.sec-four {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.name-list {
  background-color: #ffffff;
}

.last-part {
  background-color: #2e2f42;
  padding: 100px 0;
}

.logo-footer {
  color: #f4f4fd;
}

.footer-des {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.port-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.port-button:hover,
.port-button:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}

.port-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.port-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-one {
  border-bottom: 1px solid #e7e9fc;
}

.div-one {
  display: flex;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  display: flex;
  align-items: center;
}

.web-list {
  display: flex;
  gap: 40px;
}

.web {
  padding: 24px 0 24px;
}

.add-list {
  display: flex;
}

.web-section {
  gap: 40px;
}

.address-info {
  margin: 40px;
}

.desc {
  gap: 24px;
  flex-basis: calc((100%-72px) / 4);
}

.second {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.third {
  padding-bottom: 120px;
}

.add-list > .what-list {
  gap: 24px;
  flex-basis: calc((100%-48px) / 3);
}

.name-list {
  gap: 24px;
  flex-basis: calc((100%-72px) / 4);
  border-radius: 0 0 4px 4px;
}

.employee {
  padding: 32px 0;
}

.last {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-des {
  max-width: 264px;
}

img {
  display: block;
}

.portfolio-header {
  border-bottom: 1px solid #e7e9fc;
}

.portfolio-div {
  display: flex;
}

.portfolio-main {
  padding: 96px 0 120px 0;
}

.port-list {
  display: flex;
}

.port-list > li {
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.port-img {
  display: flex;
}

.port-img .portfolio-image {
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-image {
  flex-basis: calc((100%-48px) / 3);
}

.portfolio-details {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.port-header {
  margin-bottom: 8px;
}
