:root {
  --font-color: #434455;
  --bg-color: #ffffff;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.web-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.link {
  text-decoration: none;
}

.studio-logo {
  color: #2e2f42;
}

.web {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
.web:hover,
.web:focus {
  color: #404bbf;
}

 {
  color: #404bbf;
}

.add {
  font-style: normal;
}

.list {
  list-style: none;
}

.address {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--font-color);
}

.address:hover,
.address:focus {
  color: #404bbf;
}

.first {
  background-color: #2e2f42;
}
.sec-one {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--bg-color);
}

.button-one {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--bg-color);
}

.button-one:hover,
.button-one:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.title-description {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.sec-three {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.fourth {
  background-color: #f4f4fd;
}

.sec-four {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.name-list {
  background-color: #ffffff;
}

.last-part {
  background-color: #2e2f42;
}

.logo-footer {
  color: #f4f4fd;
}

.footer-des {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.port-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
}

.port-button:hover,
.port-button:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.port-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.port-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
